{% extends "bootstrap_layout.html" %}
{% set active_page = "new_user" %}

{% block content %}

    <h1>New Hiker Registration Form</h1>

    <p>Please use the form below to register...</p>

    <form action="/users/create" method="POST">

        <label>Full Name:</label>
        <input type="text" name="full_name" placeholder="Hiker's Name" value="Hiker's Name">
        <br>

        <label>Email Address:</label>
        <input type="text" name="email_address" placeholder="me@example.com" value="me@example.com">
        <br>

        <label>Date:</label>
        <input type="text" name="date" placeholder="06/29/2020" value="06/29/2020">
        <br>

        <label>Choose Your Hike:</label>
        <select name="hike">
            <option value="BM" selected="true">Bear Mountain State Park</option>
            <option value="RSP">Rockefeller State Park Reserve</option>
            <option value="Teatown">Teatown Lake Reservation</option>
            <option value="WPR">Ward Pound Ridge Reservation</option>
        </select>
        <br>

        <button>Submit</button>
    </form>

{% endblock %}
